html
{
    margin:0;
    padding:0;
}
body
{
    position:absolute;
    width:100vw;
    top:0;left:0;right:0;bottom:0;
    margin:0;
    padding:0;
    overflow-x:hidden;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url("/img/Ygg.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color:black;
}
body, a
{
    color:white;
}
main
{
    margin:0;
    padding:0;
    display:block;
    width:100vw;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}
.center
{
    text-align:center;
}
.section
{
    width:calc(calc(80vw/3.025)*3.03);
    margin:0 auto;
    margin-top:15vh;
    display:block;
    height:30vh;
}
.section:last-child
{
    padding-bottom:15vh;
}
.section:first-child
{
    margin-top:0 !important;
}
.section:nth-child(2)
{
    height:15vh !important;
}
.nav-bar
{
    width:100vw;
    height:5vh;
    background-color:#00ad4e;
    margin:0;
    padding:0;
    -webkit-box-shadow: 0px -2px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 5px 5px rgba(0,0,0,0.75);
    position:fixed;
    top:0;
    z-index:10;
}
.nav-bar ul
{
    list-style:none;
    margin:0;
    padding:0;
    float:right;
}
.nav-bar .bot-name
{
    height:5vh;
    line-height:5vh;
    font-size:2vh;
    color:white;
    display:inline-block;
    width:90px;
    text-align:center;
}

.nav-bar a
{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    display:inline-block;
    width:90px;
    color:white;
    text-align:center;
    height:5vh;
    line-height:5vh;
    font-size:2vh;
    text-decoration:none;
    min-width:110px;
}
.nav-bar a:hover
{
    background: #02e084;
    color:black;
}
.button-oblong
{
    display:inline-block;
    width:150px;
    height:50px;
    background-color:#00ad4e;
    text-align:center;
    line-height:50px;
    text-align:center;
    text-decoration:none;
    font-weight:bolder;
    color:white;
}
footer
{
    position:absolute;
    background-color:#00ad4e;
    width:100vw;
    height:315px;
    margin:0;
    color:white;
}
footer a
{
    color:white;
    text-decoration:none;
}
footer a:hover
{
    text-decoration:underline;
}
footer h3
{
    text-align:center;
}
footer ul
{
    list-style:none;
    padding-bottom:0;
}
.footer-left
{
    margin-top:25px;
    height:175px;
    width:250px;
}
.left
{
    display:block;
    float:left;
}
.right
{
    display:block;
    float:right;
}
.footer-right
{
    width:450px;
    height:175px;
    margin-right:50px;
    margin-top:25px;
}
.copybar
{
    position:absolute;
    bottom:0;
    width:auto;
    height:25px;
    margin-left:25px;
    padding-bottom:15px;
}
.strikethrough
{
    text-decoration: line-through;
}
.tiny
{
    font-size:8px;
}

.menuicon
{
    float:right;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media screen and (max-width:1044px)
{
    .section
    {
        width:81vw;
    }
}

@media screen and (min-width:580px)
{
    .nav-bar ul
    {
        height:5vh;
        display:block;
        margin-right:2vw;
        overflow:hidden;
    }
    .menuicon
    {
        display:none !important;
    }
}

@media screen and (max-width:580px)
{
    .menuicon
    {
        display:inline-block !important;
    }
    #navmenu
    {
        display:none;
        width:100vw;
        height:100vh !important;
        background-color:#378f5e;
    }
    .nav-bar #navmenu a
    {
        display:block;
        width:100vw;
    }
    .bot-name-sect span
    {
        width:auto;
        line-height:normal !important;
        font-size:1vi;
    }
}

@media screen and (max-width:800px)
{
    footer
    {
        height:auto !important;
    }
    .footer-right
    {
        height:auto;
        padding-bottom:35px;
    }
    .footer-left, .footer-right
    {
        width:80vw;
    }
}