.bot-info-sect
{
    display: block;
    height:64px;
}
.landing-img
{
    display:block;
    width:256px;
    height:256px;
    border-radius:25em;
    padding:0;
    margin:0 auto;
    margin-top:25vh;
}
.bot-name-sect
{
    display:inline-block;
    height:64px;
    padding:0;
    margin:0;
}
.bot-name-sect h2
{
    font-size:10vh;
}
.bot-name-sect span
{
    display:block !important;
}
.bot-name-sect h2,
.bot-name-sect span,
.bot-name-sect a
{
    display:inline-block;
    text-decoration:none;
    line-height:64px;
    margin:0;
    padding:0;
}
.bot-name-sect a:hover
{
    text-decoration: underline;
}
.feature
{
    display:inline-block;
    width:calc(80vw/3.025);
    height:32vh;
    text-align:center;
    overflow:hidden;
    margin:0 auto;
}
.feature-img
{
    font-size:20vh;
}
.feature .feature-name
{
    font-size:2.5vh;
}
.feature .feature-desc
{
    font-size:2vh;
}

.invite
{
    display:block;
    margin:0 auto;
    text-align:center;
}
.invite-head
{
    display:inline-block;
    width:100%;
    margin-bottom:10px;
}

.section
{
    height:auto !important;
}

@media screen and (max-width: 800px)
{
    .section
    {
        height:auto;
    }
    .section:last-child
    {
        padding-bottom:15vh !important;
    }
    .feature
    {
        display:block;
        height:auto;
        width:auto;
        padding-bottom:15vh;
    }
    .feature:last-child
    {
        padding-bottom:0;
    }
}