<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type" />
				<add name="Access-Control-Allow-Methods" value="GET,OPTIONS" />
				<add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>
        <handlers>
            <remove name="php-7.2.10" />
            <add name="php-7.2.10" path="*.php" verb="GET,HEAD,POST,PUT,PATCH,DELETE,OPTIONS" modules="FastCgiModule" scriptProcessor="C:\php7\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering>
                <verbs>
                    <remove verb="OPTIONS" />
                    <add verb="OPTIONS" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
