.guildList
{
    width:100%;
    height:100%;
    display:block;
    list-style:none;
}

.guildItem
{
    display:inline-block;
    width:calc(100%/6);
    height:100%;
    text-align:center;
    margin-bottom:25px;
    overflow:hidden;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    /*border:solid*/
}
.guildItem-ico
{
    width:128px;
    height:128px;
    border-radius:5em;
}
.guildItem a
{
    color:var(--light);
    text-decoration:none;
    padding:5px;
    display:block;
    height:100%;
}
.guildItem:hover
{
    -webkit-box-shadow: 0px 0px 5px 3px var(--lteal);
    -moz-box-shadow: 0px 0px 5px 3px var(--lteal);
    box-shadow: 0px 0px 5px 3px var(--lteal);
}
.section
{
    padding-top:5vh;
}
.section h1
{
    padding-bottom:5vh;
}