@keyframes placeHolderShimmer{
    0%{
        background-color: #6a6a6a;
    }
    50%{
        background-color: #5a5a5a;
    }
    100%{
        background-color: #6a6a6a;
    }
}

footer
{
    display:none;
}

body
{
    padding-top:64px;
}
main
{
    margin-top:64px;
}
.section
{
    padding-top:0 !important;
}
.user-entry
{
    width: 50vw;
    height: 180px;
    display: block;
    margin: 25px auto;
    overflow: hidden;
    background-color: #33333393;
}
.user-entry.error{
    background-color:#871A1A !important;
}
.loadingBox
{
    width: 50vw;
    height: 150px;
    display: block;
    margin: 25px auto;
    line-height: 150px;
    background-color:#33333393;
}
.features .user-entry:nth-child(1)
{
    background: #A2790D;
    background: -moz-linear-gradient(135deg, #b69e62 0%,#A2790D 99%);
    background: -webkit-linear-gradient(135deg, #b69e62 0%,#A2790D 99%);
    background: linear-gradient(135deg, #b69e62 0%,#A2790D 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b69e62', endColorstr='#A2790D',GradientType=1 );
}
.features .user-entry:nth-child(2)
{
    background: #596a72;
    background: -moz-linear-gradient(135deg, #accce5 0%,#596a72 99%);
    background: -webkit-linear-gradient(135deg, #accce5 0%,#596a72 99%);
    background: linear-gradient(135deg, #accce5 0%,#596a72 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#accce5', endColorstr='#596a72',GradientType=1 );
}
.features .user-entry:nth-child(3)
{
    background: #596a72;
    background: -moz-linear-gradient(135deg, #9c7146 0%,#925a23 99%);
    background: -webkit-linear-gradient(135deg, #9c7146 0%,#925a23 99%);
    background: linear-gradient(135deg, #9c7146 0%,#925a23 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c7146', endColorstr='#925a23',GradientType=1 );
}
.usercrown
{
    transform: rotate(-58deg);
    width: 32px;
    height: 32px;
    padding: 0;
    margin-top: -99px;
    margin-left: 10px;
    display: block;
}

.useravatar.loading
{
    margin-top:25px;
}
.username.loading
{
    width: 80%;
    height: 25px;
    margin-top: -65px;
}
.user-value.loading
{
    width: 80%;
    height: 25px;
    margin-top: 25px;
    margin-left: 115px;
}
.loading
{
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    -webkit-box-shadow: 0px 0px 2px 0.1px var(--light);
    -moz-box-shadow: 0px 0px 2px 0.1px var(--light);
    box-shadow: 0px 0px 2px 0.1px var(--light);
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.rank
{
    display: block;
    width: 75px;
    font-size: 5vh;
    text-align: center;
    height: 100%;
    line-height: 160px;
    margin-left:135px;
}
.rank.money
{
    line-height: 175px;
}
.useravatar
{
    width: 96px;
    height: 96px;
    border-radius: 5em;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    display: block;
    margin-top: -150px;
    margin-left:30px;
}
.useravatar.money
{
    margin-top: -140px;
}
.erroricon
{
    margin-top: -180px;
    display: block;
    font-size: 5em;
    margin-left: 50px;
    line-height: 180px;
}
.username
{
    font-size: 40px;
    display: block;
    width: auto;
    max-width: 69%;
    margin-top: -180px;
    line-height: 165px;
    margin-left: 230px;
    height: 100%;
}
.username.money
{
    line-height: 170px;
}
.username.error{
    margin-top:0;
    line-height:180px;
}
.uservalue
{
    text-align: right;
    display: block;
    margin-right: 0;
    margin-left: auto;
    font-size: 25px;
    margin-top: -120px;
    height: 100%;
}
.uservalue p
{
    display:block;
    margin-top:-180px;
    margin-bottom:0;
    height:calc(100% - 40px);
    line-height:40px;
    margin-right:5px;
}
.uservalue p.bottom
{
    line-height:330px;
}
.progress
{
    width:100%;
    height:40px;
    margin-right:100%;
    background-color:slategray;
    border:0;
}
.progress::-moz-progress-bar
{
    background: #009688;
    background: -moz-linear-gradient(-45deg, #438285 0%, #009688 99%);
    background: linear-gradient(135deg, #438285 0%,#009688 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438285', endColorstr='#009688',GradientType=1 );
}
.progress::-webkit-progress-value
{
    background: #009688;
    background: -webkit-linear-gradient(-45deg, #438285 0%,#009688 99%);
    background: linear-gradient(135deg, #438285 0%,#009688 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438285', endColorstr='#009688',GradientType=1 );
}
.progress-subtitle
{
    position:relative;
    z-index:1;
    margin-top:-40px;
    height:40px;
}
.progress-subtitle .left,
.progress-subtitle .right
{
    line-height:40px;
}
.progress-subtitle .left
{
    margin-left:5px;
}
.progress-subtitle .right
{
    margin-right:5px;
}
@media screen and (max-width: 1300px)
{


}
@media screen and (max-width: 800px)
{

}