.user-img
{
    border-radius:5em;
    width:128px;
    height:128px;
    margin-left:64px;
    display: block;
    position: absolute;
    top: 12px;
}
.profileName
{
    margin-top:48px;
    background-color:#484747;
    height:150px;
    width:800px;
    margin:0 auto;
    vertical-align: middle;
    position:relative;
}
.profileUsername,
.profileTitle
{
    font-weight:bolder;
}
.profileUsername
{
    font-size:x-large;
    line-height:140px;
}
.profileTitle
{
    font-size:larger;
    margin-top:-50px;
}
.content
{
    margin:0 auto;
}
.flexBar
{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 64px;
    width: 800px;
    margin: 0 auto;
    padding:0;
    line-height:64px;
    list-style:none;
    margin-top:24px;
    margin-bottom:24px;
    background-color:#303030;
}
.flexBar li
{
    width:calc(800px/3);
    display:inline-block;
    text-align:center;
}
.flexBar li:hover,
.selected
{
    background-color:var(--dteal);
}
.flexBar a
{
    display:block;
    width:calc(800px/3);
    height:100%;
    text-decoration:none;
}
#infosection,
#bkgrsection,
#settsection
{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width:800px;
    height:auto;
    margin:0 auto;
}
.section
{
    display:block;
    padding-top:5vh !important;
    height:100vh;
}
.microsection
{
    background-color: #30303081;
    display:block;
    margin: 0 auto;
    position:relative;
    width:800px;
    min-height:100px;
    height:auto;
    margin-bottom:25px;
}
.microsection:last-child
{
    margin-bottom:0;
}
.microhead
{
    position:absolute;
    background-color:#484747;
    width:100%;
    height:75px;
    top:0;
    vertical-align: top;
    text-align:center;
}
.microcontent
{
    display: block;
    margin-top: 85px;
    width: 100%;
    margin-right: 15px;
}
.microcontent.background
{
    margin-top:75px;
}
.microcontent.info p
{
    margin-left:15px;
}
.microcontent p
{
    width:100%;
    display:block;
}
#progress::-moz-progress-bar
{
    background: #009688;
    background: -moz-linear-gradient(-45deg, #438285 0%, #009688 99%);
    background: linear-gradient(135deg, #438285 0%,#009688 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438285', endColorstr='#009688',GradientType=1 );
}
#progress::-webkit-progress-value
{
    background: #009688;
    background: -webkit-linear-gradient(-45deg, #438285 0%,#009688 99%);
    background: linear-gradient(135deg, #438285 0%,#009688 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438285', endColorstr='#009688',GradientType=1 );
}
#progress
{
    width:100%;
    height:30px;
    background:slategray;
    border:none;
}